ion-header {
  ion-toolbar {
      --padding-start: 16px;
      --padding-end: 16px;

  }
}
ion-input.custom {
  --background: #ffffff;
  --color: #000000;
  --placeholder-color: #000000;
  --placeholder-opacity: 0.8;

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}
ion-row.tagline {
  padding-left: 1.5vh;
  ion-text {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

ion-row.srch {
padding-right: 2vh;
align-items: center;
.srchBar {
  --border-radius: 10px;
}
}

ion-list {
  background: transparent;
  ion-list-header {
    padding-right: 1vh;
    ion-label {
      font-size: 1.1rem;
    }
    ion-button {
      ion-text {
        font-size: 0.7rem;
      }
    }
  }

  ion-thumbnail {
      height: 4vh;
      width: 4vh;
      background-color: var(--ion-color-dark);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 70%;
        width: 70%;
      }
  }
  ion-label.recent {
      font-size: 0.85rem;
      font-weight: bold;
      p {
          font-size: 0.80rem;
          font-weight: 800;
      }
  }

    ion-text[slot="end"] {
      font-size: 0.65rem;
      font-weight: 500;
      align-self: end;
      margin-bottom: 0.8vh;
  }
}

ion-list.recentJobs {
  ion-item {
    margin-left: 1.5vh;
    margin-right: 1.5vh;
    border-radius: 10px;
  }
}

span.dot {
  margin: 0 2px 2px 2px;
  height: 3px;
  width: 3px;
  background-color: dimgray;
  border-radius: 50%;
  display: inline-block;
}
ion-content {
  align-items: center;
  justify-content: center;
  --background:var(--ion-color-light) !important;
}





